html {
   font-size: 65.2%;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.8;
}

.page {
   min-height: 100vh;
   max-width: 100%;

   display: flex;
   flex-direction: column;

   overflow: hidden;
}

.main {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.footer {
   flex-shrink: 0;
}

.container {
   max-width: 140rem;

   margin: 0rem auto;
   padding: 0 10rem;
}
