.about {
   display: flex;
   justify-content: center;

   // .about__img

   &__img {
      flex: 1 1 50%;
   }

   // .about__img-pic

   &__img-pic {
      width: 100%;
   }

   // .about__info

   &__info {
      flex: 1 1 45rem;

      box-sizing: border-box;
      padding: 2rem;
   }

   // .about__title

   &__title {
      color: #fdbe34;
      font-size: 1.6rem;
      font-weight: 700;

      margin-bottom: 0.5rem;
   }

   // .about__info-title

   &__info-title {
      color: rgba($color: #000000, $alpha: 0.8);
      font-weight: 700;
      font-size: 3rem;

      margin-bottom: 1.5rem;
   }

   // .about__info-desc

   &__info-desc {
      margin-bottom: 1rem;

      color: grey;
   }

   // .about__info-target

   &__info-target {
      display: flex;
      flex-direction: column;
   }

   // .about__info-target-items

   &__info-target-items {
      display: flex;
      justify-content: space-between;
   }

   // .about__info-target-item

   &__info-target-item {
      border: 1px solid #f3f4f8;
      border-radius: 0.3rem;

      box-sizing: border-box;
      padding: 0 1rem;
      margin-bottom: 1rem;

      font-weight: 600;
      color: rgba($color: #000000, $alpha: 1);

      cursor: pointer;
   }

   // .about__info-target-text

   &__info-target-text {
      background-color: #f8f9fd;

      border: 1px solid #f3f4f8;
      border-radius: 0.3rem;

      box-sizing: border-box;
      padding: 1.5rem 2rem;

      font-size: 1.6rem;
      line-height: 1.8;
      font-weight: 400;
      color: grey;

      display: none;
   }

   // .about__info-text

   &__info-text {
   }

   .active {
      background-color: #fdbe34;
   }
}
