.projects {
   // .projects__slider-items

   &__slider-items {
   }

   // .projects__slider-item

   &__slider-item {
      cursor: pointer;
   }

   // .projects__slider-img

   &__slider-img {
      max-width: 100%;
      object-fit: cover;

      position: relative;
   }

   // .projects__info

   &__info {
      position: absolute;
      top: 70%;

      background-color: rgba($color: #000000, $alpha: 0.6);

      color: #fff;

      width: 100%;

      text-align: center;
   }

   // .projects__name

   &__name {
      font-size: 2rem;
      font-weight: 700;
   }

   // .projects__title

   &__title {
   }

   // .projects__more-info
   &__more-info {
      position: absolute;
      top: 30%;
      left: 30%;

      font-size: 3.2rem;
      font-weight: 900;

      display: none;
   }

   &__more-info a {
      color: rgba($color: #fdbe34, $alpha: 1);
      text-decoration: none;
   }
}
