<header class="header">
   <div class="header__logo">
      <a href="index.html">
         <img src="assets/img/logo/logo.png" alt="" class="header__logo-img">
      </a>
   </div>
   <nav class="header__navbar">
      <ul class="header__navbar-items">
         <li class="header__navbar-item"><a href="index.html" class="header__navbar-link">Главная</a></li>
         <li class="header__navbar-item"><a href="about.html" class="header__navbar-link">О компании</a>
            <ul class="header__navbar-sub-items">
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пункт 1</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 2</a></li>
            </ul>
         </li>
         <li class="header__navbar-item"><a href="#" class="header__navbar-link">Направления деятельности</a>
            <ul class="header__navbar-sub-items">
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пункт 1</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 2</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 3</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 4</a></li>
            </ul>
         </li>
         <li class="header__navbar-item"><a href="#" class="header__navbar-link">Проекты</a>
            <ul class="header__navbar-sub-items">
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пункт 1</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 2</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 3</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 4</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 5</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 6</a></li>
            </ul>
         </li>
         <li class="header__navbar-item"><a href="#" class="header__navbar-link">Сотрудничество</a>
            <ul class="header__navbar-sub-items">
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пункт 1</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 2</a></li>
               <li class="header__navbar-sub-item"><a href="#" class="header__navbar-link-sub">Пунтк 3</a></li>
            </ul>
         </li>
         <li class="header__navbar-item"><a href="#" class="header__navbar-link">Контакты</a></li>
      </ul>
   </nav>
</header>